In [2]:
import pandas as pd
import numpy as np

In [27]:
stocks = pd.read_csv('stocks.csv')

In [28]:
stocks.head(10)

,Symbol,Date,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change
0,AAPL,2016-11-11,107.12,108.87,106.55,108.43,34143898,57134541,-2.508531
1,AAPL,2016-11-14,107.71,107.81,104.08,105.71,51175504,34143898,1.324378
2,AAPL,2016-11-15,106.57,107.68,106.16,107.11,32264510,51175504,2.688825
3,AAPL,2016-11-16,106.70,110.23,106.60,109.99,58840522,32264510,-0.036367
4,AAPL,2016-11-17,109.81,110.35,108.83,109.95,26964598,58840522,0.100045
5,AAPL,2016-11-18,109.72,110.54,109.66,110.06,28428917,26964598,1.517354
6,AAPL,2016-11-21,110.12,111.99,110.01,111.73,29264571,28428917,0.062651
7,AAPL,2016-11-22,111.95,112.42,111.40,111.80,25965534,29264571,-0.509839
8,AAPL,2016-11-23,111.36,111.51,110.33,111.23,27426394,25965534,0.503461
9,AAPL,2016-11-25,111.47,111.87,110.95,111.79,11475922,27426394,-0.196798

In [29]:
stocks.corr()

,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change
Open,1.000000,0.999897,0.999860,0.999824,0.125109,0.124121,0.005104
High,0.999897,1.000000,0.999750,0.999863,0.124876,0.123329,0.004875
Low,0.999860,0.999750,1.000000,0.999907,0.124962,0.125062,0.005395
Close,0.999824,0.999863,0.999907,1.000000,0.125273,0.124499,0.005063
Volume,0.125109,0.124876,0.124962,0.125273,1.000000,0.799666,0.004495
Yesterday Volume,0.124121,0.123329,0.125062,0.124499,0.799666,1.000000,0.000171
Tomorrows Percent Change,0.005104,0.004875,0.005395,0.005063,0.004495,0.000171,1.000000

In [30]:
##Question 4, adding Volume over Past 10 Days using rolling function
stocks['Volume over Past 10 Days'] = stocks.groupby('Symbol')['Volume'].transform(lambda x: x.rolling(10).mean())

In [36]:
stocks.head(10)

,Symbol,Date,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change,Volume over Past 10 Days
0,AAPL,2016-11-11,107.12,108.87,106.55,108.43,34143898,57134541,-2.508531,NaN
1,AAPL,2016-11-14,107.71,107.81,104.08,105.71,51175504,34143898,1.324378,NaN
2,AAPL,2016-11-15,106.57,107.68,106.16,107.11,32264510,51175504,2.688825,NaN
3,AAPL,2016-11-16,106.70,110.23,106.60,109.99,58840522,32264510,-0.036367,NaN
4,AAPL,2016-11-17,109.81,110.35,108.83,109.95,26964598,58840522,0.100045,NaN
5,AAPL,2016-11-18,109.72,110.54,109.66,110.06,28428917,26964598,1.517354,NaN
6,AAPL,2016-11-21,110.12,111.99,110.01,111.73,29264571,28428917,0.062651,NaN
7,AAPL,2016-11-22,111.95,112.42,111.40,111.80,25965534,29264571,-0.509839,NaN
8,AAPL,2016-11-23,111.36,111.51,110.33,111.23,27426394,25965534,0.503461,NaN
9,AAPL,2016-11-25,111.47,111.87,110.95,111.79,11475922,27426394,-0.196798,32595037.0

In [37]:
stocks.corr()

,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change,Volume over Past 10 Days
Open,1.000000,0.999897,0.999860,0.999824,0.125109,0.124121,0.005104,0.152227
High,0.999897,1.000000,0.999750,0.999863,0.124876,0.123329,0.004875,0.150813
Low,0.999860,0.999750,1.000000,0.999907,0.124962,0.125062,0.005395,0.153452
Close,0.999824,0.999863,0.999907,1.000000,0.125273,0.124499,0.005063,0.152322
Volume,0.125109,0.124876,0.124962,0.125273,1.000000,0.799666,0.004495,0.831914
Yesterday Volume,0.124121,0.123329,0.125062,0.124499,0.799666,1.000000,0.000171,0.849333
Tomorrows Percent Change,0.005104,0.004875,0.005395,0.005063,0.004495,0.000171,1.000000,0.004378
Volume over Past 10 Days,0.152227,0.150813,0.153452,0.152322,0.831914,0.849333,0.004378,1.000000